<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="SmtpServer" value="127.0.0.1" />
    <add key="SmtpPort" value="25" />
  </appSettings>

  <connectionStrings>

    <add name="OOSE_EMHT_ConnectionString" connectionString="Data Source=ECXUS042;Initial Catalog=OOSE_EMHT; User Id=GrngrImgAudtLogin;Password=eclerx#2008;Max Pool Size=500;Connection Timeout = 50"
    providerName="System.Data.SqlClient" />
    
    <add name="OOSE_EmpEngageTracker_ConnectionString" connectionString="Data Source=ECXUS042;Initial Catalog=OOSE_EmpEngageTracker; User Id=GrngrImgAudtLogin;Password=eclerx#2008;Max Pool Size=500; Connection Timeout = 50"
     providerName="System.Data.SqlClient" />

    <add name="OOSE_OCT_ConnectionString" connectionString="Data Source=ECXUS042;Initial Catalog=OOSE_OCT; User Id=GrngrImgAudtLogin;Password=eclerx#2008;Max Pool Size=500; Connection Timeout = 50"
     providerName="System.Data.SqlClient" />
    
    <add name="OOSE_Common_ConnectionString" connectionString="Data Source=ECXUS042;Initial Catalog=OOSE_Common; User Id=GrngrImgAudtLogin;Password=eclerx#2008;Max Pool Size=500; Connection Timeout = 50"
     providerName="System.Data.SqlClient" />
    
    <add name="OOSE_InputCheckList_ConnectionString" connectionString="Data Source=ECXUS042;Initial Catalog=OOSE_InputCheckList; User Id=GrngrImgAudtLogin;Password=eclerx#2008;Max Pool Size=500; Connection Timeout = 50"
     providerName="System.Data.SqlClient" />
    
    <add name="OOSE_WFS_ConnectionString" connectionString="Data Source=ECXUS042;Initial Catalog=OOSE_WFS; User Id=GrngrImgAudtLogin;Password=eclerx#2008;Max Pool Size=500; Connection Timeout = 50"
     providerName="System.Data.SqlClient" />

    <add name="OOSE_WR_ConnectionString" connectionString="Data Source=ECXUS042;Initial Catalog=OOSE_WR_AUTODESK; User Id=GrngrImgAudtLogin;Password=eclerx#2008;Max Pool Size=500; Connection Timeout = 50"
 providerName="System.Data.SqlClient" />
    
    <add name="OOSE_KnowledgeBase_ConnectionString" connectionString="Data Source=ECXUS042;Initial Catalog=OOSE_KnowledgeBase; User Id=GrngrImgAudtLogin;Password=eclerx#2008;Max Pool Size=500;Connection Timeout = 50"
     providerName="System.Data.SqlClient" />

    <add name="OOSE_GoLive_ConnectionString" connectionString="Data Source=ECXUS042;Initial Catalog=OOSE_GoLive; User Id=GrngrImgAudtLogin;Password=eclerx#2008;Max Pool Size=500;Connection Timeout = 50"
     providerName="System.Data.SqlClient" />

    
  </connectionStrings>

  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0"  >
      <codeSubDirectories>
        <add directoryName="TRT" />
        <add directoryName="ICT" />
        <add directoryName="OCT"/>
        <add directoryName="GoLive"/>
        <add directoryName="EET" />
        <add directoryName="KB"/>
        <add directoryName="EMHT"/>
        <add directoryName="COMMON"/>
      </codeSubDirectories>
    </compilation>

    <httpRuntime maxRequestLength="30000" executionTimeout="180" requestValidationMode="2.0"  />
    
    <pages validateRequest="false" enableEventValidation="true">
        <controls>
          <add  src="~/common/UC/ucTextBox.ascx" tagName="TextBox" tagPrefix="uc"/>
          <add src="~/common/UC/Deliverables.ascx" tagName="Deliverables" tagPrefix="uc1"/>
        </controls>
    </pages>
    
    <sessionState timeout="500"></sessionState>

      <customErrors 
                    mode="Off">
      </customErrors>

  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
    
    <modules runAllManagedModulesForAllRequests="true"/>

    <rewrite>
      <rules>
        <clear />




        <rule name="sharing" stopProcessing="true">
          <match url="^kb/sharing/(.*).aspx$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/kb/knowledgeShare.aspx?client={R:1}" appendQueryString="false" />
        </rule>


        <rule name="sops" stopProcessing="true">
          <match url="^kb/client/(.*)/sop/(.*)/(.*).aspx$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/kb/sops.aspx?client={R:1}&amp;sopid={R:2}&amp;title={R:3}" appendQueryString="false" />
        </rule>

        <rule name="faq" stopProcessing="true">
          <match url="^kb/client/(.*)/faq.aspx$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/kb/faq.aspx?client={R:1}" appendQueryString="false" />
        </rule>

        <rule name="clientsops" stopProcessing="true">
          <match url="^kb/client/(.*).aspx$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/kb/clientssops.aspx?client={R:1}" appendQueryString="false" />
        </rule>

      </rules>
    </rewrite>

    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>

    </handlers>
  </system.webServer> 

</configuration>
